/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */

/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
/* #menu linklerine hover yapıldığında arka plan rengi: #000 */
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */

#header{
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    
   
}
 h2{
    margin-left: 0;
    
}
#menu{
    display: flex;
    background-color: #777;
    padding: 20px;
    gap: 30px;
    align-items: flex-end;
    
}

#menu a{
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    color: white;
    background-color: #777;
    padding: 20px;
    flex-grow: 1;
}
#menu a:hover{
    background-color:  #000;
}

#hero{
    
    display: flex;
    width: 750px;
    height: 350px;
    background-color: #777;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}
#gallery{
    width: 750px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#footer{
    flex-direction: column;
}

